<div class="profile-card">
    <div class="avatar-name">
        <img src="/me.jpg" alt="avatar" class="profile-card__avatar">
        
        <div class="profile-card-name"></div>
        <strong>Власов Дмитрий</strong>
        <span>dmitrii</span>
    </div>
    <div class="about-me">
        <p>
            Добрый вечер, уважаемые работадатели, по рабочим обстоятельствам к сожалению я не успел качественно и полностью выполнить тестовое задание( Очень хотелось бы попробовать свои силы побольше в ангуляре, надеюсь, что будет ещё возможность показать свои силы.
        </p>
    </div>
</div>