<h1>Приложение Дмитрия</h1>

<app-profile-card></app-profile-card>

<hr style="border: none; border-top: 1px solid #808080; margin: 32px 0;">

<div class="neon-form">
  <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" required>
        <div class="register-link">
          <p>Нет аккаунта? <a href="common-ui/registration/registration.component.html">Зарегистрироваться</a></p>
        </div>
      <button type="submit">Войти</button>
  </form>

  
</div>
